* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-color: rgb(255, 255, 255);
    border-top: 4px #106eea solid;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 5000;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.253);
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 55%;
    cursor: default;
}

.logo span {
    color: #106eea;
}

.log-hvr :hover {
    opacity: 0.3;

}

ul {
    display: inline-block;
    list-style: none;

}

ul li {
    display: inline-block;
    margin-top: 7px;
    padding-left: 30px;
    font-size: 1.1em;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li :hover {
    color: #106eea;
    transition: ease-in 0.7s;
    font-weight: bold;
}

.interface {
    position: relative;
    padding-top: 68px;
}

.interface img {
    width: 100%;
    opacity: 70%;
}

.interface .welcome {
    position: absolute;
    z-index: 1000;
    font-size: 40px;
    top: 35%;
    left: 72px;
}

.welcome h1 span {
    color: #106eea;
}

.welcome p {
    padding-top: 5px;
    font-size: 26px;
    color: rgb(92, 91, 91);
}

.welcome button {
    font-size: 16px;
    background-color: #106eea;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 3px;
}

.welcome .strt-btn :hover {
    background-color: #2885ff;
    transition: ease-in-out 0.5s;
}

.welcome #play-btn {
    margin-left: 10px;
    font-size: 26px;
}

.welcome .wtch {
    display: inline-block;
    color: black;
    font-size: 23px;
    font-weight: 500;
}

.wotchh {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 71%;
}

.wotchh :hover {
    color: #106eea;
    transition: ease-in 0.5s;
    cursor: pointer;
}

.About {
    background-color: #c7e0ff72;
}

.About,
.progress {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 650px;
    text-align: center;
}

.abouthd {
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #106eea;
    background-color: #106eea2c;
    padding: 12px;
    border-radius: 25px;
    font-weight: 600px;
}

.About h2 {
    margin-top: 10px;
    font-size: 35px;
    color: rgb(48, 48, 48);
}

.About h2 span {
    color: #106eea;
}

.About .desc {
    width: 400px;
    margin-left: 37%;
}

.About .abut-pic {
    text-align: left;
    height: 400px;
    width: 400px;
    margin-top: 35px;
    margin-left: -600px;
}

.About article {
    position: absolute;
    top: 260px;
    display: inline-block;
    width: 40%;
    margin-left: 100px;
    text-align: left;
    height: 30%;
    font-size: 16px;
}

.About article span {
    font-size: 40px;
    font-weight: bold;
}

.About details {
    margin-top: 30px;
    font-size: 16px;
}

.About details summary {
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
}

.About details :hover {
    color: #106eea;
    cursor: pointer;
    text-decoration: underline;
    transition: ease-in-out 0.5s;
}

.progress {
    font-size: 16px;
    text-align: left;
    height: 350px;
}

.progress .left-prog {
    position: absolute;
    left: 37px;
    top: 70px;
}

.progress .right-prog {
    position: absolute;
    left: 63%;
    top: 70px;
}

progress {
    width: 500px;
    height: 30px;
}

.map-form {
    position: relative;
    width: 100%;
    height: 525px;
    box-shadow: 0px 0px 20px #106eea63;
    padding-top: 40px;
}

.map-form .map {
    margin-left: 50px;
    box-shadow: 0 3px 10px #00295f63;
    width: fit-content;
    display: inline-block;
}

form {
    position: absolute;
    top: 75px;
    left: 50%;

}

.first-row input {
    width: 300px;
    height: 45px;
    margin-left: 30px;
    padding: 15px;
    outline: none;
    font-size: 16px;
    border: 1px solid rgb(138, 138, 138);
}

input[type=text],
[type=email]:focus {
    border: 2px solid #106eea;
    transition: ease-in-out 0.4s;
}

.second-row input {
    width: 637px;
    height: 45px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 15px;
    outline: none;
    border: 1px solid rgb(138, 138, 138);
    font-size: 16px;
}

.third-row textarea {
    width: 637px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 15px;
    outline: none;
    border: 1px solid rgb(138, 138, 138);
    font-size: 16px;
}

.forth-row input {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 43%;
    margin-top: 10px;
}

.audio-br {
    width: 100%;
    height: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.audio-br audio {
    width: 550px;
    opacity: 0.7;
}

footer {
    background-color: #c7e0ff72;
    margin-top: 25px;
    width: 100%;
    height: 70px;
    font-size: 16px;
    padding-left: 70px;

}

footer p {
    display: inline-block;
    padding: 25px;
}

footer p span {
    text-transform: uppercase;
    font-weight: bold;
}